# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
binancebeast/build/cmake_install.cmake
binancebeast/build/CMakeCache.txt
binancebeast/build/compile_commands.json
binancebeast/build/Makefile
binancebeast/build/.cmake/api/v1/query/client-vscode/query.json
binancebeast/build/.cmake/api/v1/reply/cache-v2-abe23599547796167f71.json
binancebeast/build/.cmake/api/v1/reply/codemodel-v2-917aa94331a036a033de.json
binancebeast/build/.cmake/api/v1/reply/index-2021-08-23T08-27-10-0965.json
binancebeast/build/.cmake/api/v1/reply/target-bbtest-Release-001bef1ff94dced9c442.json
binancebeast/build/.cmake/api/v1/reply/target-binancebeast-Release-f848dce15a9805a2edaf.json
binancebeast/build/CMakeFiles/cmake.check_cache
binancebeast/build/CMakeFiles/CMakeDirectoryInformation.cmake
binancebeast/build/CMakeFiles/CMakeOutput.log
binancebeast/build/CMakeFiles/Makefile.cmake
binancebeast/build/CMakeFiles/Makefile2
binancebeast/build/CMakeFiles/progress.marks
binancebeast/build/CMakeFiles/TargetDirectories.txt
binancebeast/build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
binancebeast/build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
binancebeast/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
binancebeast/build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
binancebeast/build/CMakeFiles/3.18.4/CMakeSystem.cmake
binancebeast/build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
binancebeast/build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
binancebeast/build/bblib/cmake_install.cmake
binancebeast/build/bblib/Makefile
binancebeast/build/bblib/CMakeFiles/CMakeDirectoryInformation.cmake
binancebeast/build/bblib/CMakeFiles/progress.marks
binancebeast/build/bblib/src/cmake_install.cmake
binancebeast/build/bblib/src/Makefile
binancebeast/build/bblib/src/CMakeFiles/CMakeDirectoryInformation.cmake
binancebeast/build/bblib/src/CMakeFiles/progress.marks
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/build.make
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/cmake_clean_target.cmake
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/cmake_clean.cmake
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/CXX.includecache
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/depend.internal
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/depend.make
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/DependInfo.cmake
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/flags.make
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/link.txt
binancebeast/build/bblib/src/CMakeFiles/binancebeast.dir/progress.make
binancebeast/build/bbtest/bbtest
binancebeast/build/bbtest/cmake_install.cmake
binancebeast/build/bbtest/Makefile
binancebeast/build/bbtest/CMakeFiles/CMakeDirectoryInformation.cmake
binancebeast/build/bbtest/CMakeFiles/progress.marks
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/build.make
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/cmake_clean.cmake
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/CXX.includecache
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/depend.internal
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/depend.make
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/DependInfo.cmake
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/flags.make
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/link.txt
binancebeast/build/bbtest/CMakeFiles/bbtest.dir/progress.make
