# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake

binancebeast/bin/
binancebeast/lib/

binancebeast/build/
binancebeast/bblib/build/
binancebeast/bblib/CMakeFiles
binancebeast/bblib/src/CMakeFiles

binancebeast/bbtest/build/


